@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* light gray track */
}

::-webkit-scrollbar-thumb {
    background-color: #C3BBA4; /* Tailwind teal-500 */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #C3BBA4; /* Tailwind teal-600 */
}

#nprogress .bar {
    height: 5px !important;
    transition: all 0.3s ease-in-out;
}
